@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("./snow.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1{
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: normal;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}

.countdown-element{
    text-align: center;
}

.countdown-element span{
    font-size: 1.25rem;
}